<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saidakbar Muzaffarov</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <header class="header">
        <a href="#" class="logo">Said.<span class="animate" style="--i:1;"></span></a>

        <div class='bx bx-menu' id="menu-icon"><span class="animate" style="--i:2;"></span></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#education">Education</a>
            <a href="#skills">Skills</a>
            <a href="#projects">Projects</a>

            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

    <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>Saidakbar Muzaffarov</span><span class="animate" style="--i:2;"></span></h1>
            <div class="text-animate">
                <h3>Python Back-end Developer</h3>
                <span class="animate" style="--i:3;"></span>
            </div>
            <p>I'm a Beck-end Developer with a passion for building beautiful and
                user-friendly websites.
                <span class="animate" style="--i:4;"></span>
            </p>

            <div class="btn-box">
                <a href="#about" class="btn">Read More</a>
                <a href="https://t.me/EndSaidN" class="btn">Let's Talk</a>
                <span class="animate" style="--i:5;"></span>
            </div>
        </div>

        <div class="home-sci">
            <a href="https://t.me/EndSaidN"><i class='bx bxl-telegram'></i></a>
            <a href="https://github.com/EndSaidN/Portfolio"><i class='bx bxl-github'></i></a>
            <a href="#comingSoon"><i class='bx bxl-instagram'></i></a>
            <span class="animate" style="--i:6;"></span>
        </div>

        <div class="home-imgHover"></div>
        <span class="animate home-img" style="--i:7;"></span>
    </section>

    <section class="about" id="about">
        <h2 class="heading">About <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="about-img">
            <img src="static/css/main.png" alt="">
            <span class="circle-spin"></span>
            <span class="animate scroll" style="--i:2;"></span>
        </div>

        <div class="about-content">
            <h3>Beck-end Developer!<span class="animate scroll" style="--i:3;"></span></h3>
            <p>I'm a Beck-end Developer with a passion for building beautiful and
                user-friendly websites. I have understanding of both back-end development,
                and I excited to put my skills to use in a professional setting.
                I'm a quick learner and team player, and I'm confident that
                I can be a valuable asset to any web development team.
                <span class="animate scroll" style="--i:4;"></span>
            </p>

            <div class="btn-box btns">
                <a href="#education" class="btn">Read More</a>
                <span class="animate scroll" style="--i:5;"></span>
            </div>
        </div>
    </section>

    <section class="education" id="education">
        <h2 class="heading">My <span>Journey</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2020-2022</div>
                            <h3>Self study</h3>
                            <p>During these 2 years I studied on my own.
                                I was looking for road maps and was creating games in C#.
                                At this time I acquired fundamental knowledge of programming,
                                which gave me a big impetus to further</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2022-2023</div>
                            <h3>Backend Python Django - "Najot Ta'lim"</h3>
                            <p>This course was an important boost
                                to the development of both my hard and soft skills.
                                During the course I strengthened my fundamental programming skills.
                                I also acquired even more skills in website programming.</p>
                        </div>
                    </div>

                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>

            <div class="education-column">
                <h3 class="title">Experience<span class="animate scroll" style="--i:5;"></span></h3>

                <div class="education-box">

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2020-2021</div>
                            <h3>Programming as a hobby</h3>
                            <p>At the beginning of my journey,
                                programming for me was something complex and unknown,
                                which attracted me. I immersed myself in it,
                                but by that time it was not a top priority. Along with studying,
                                I also got involved in writing simple programs and algorithms</p>
                        </div>
                    </div>

                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2021-2022</div>
                            <h3>Start-up ?</h3>
                            <p>The beginning of the year was a little
                                weak in terms of programming due to exams and lack of time.
                                At the beginning of summer, I received an offer from a friend
                                to participate in a start-up as a game developer. There was
                                no funding and everything was based solely on enthusiasm. after a month,
                                all employees had both financial and time problems,
                                which was the end for indie developers</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class="bx bxs-calendar"></i>2022-2023</div>
                            <h3>The beginning of serious changes</h3>
                            <p>At the beginning of the year, I realized that
                                I wouldn’t achieve anything if I didn’t make serious decisions.
                                Programming became my priority and I put all my efforts into bliss.
                                After finishing the course I started looking for a job.
                                The first place I went to was a training center,
                                I passed 3 technical interviews, and they wanted to hire me as a teacher,
                                but the institution, as it turned out, was too far from my home.
                                If I worked there, all my earnings would go towards</p>
                        </div>
                    </div>
                    <span class="animate scroll" style="--i:6;"></span>
                </div>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <br><br><br><br><br><br>
        <h2 class="heading">My <span>Skills</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Front-end<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>HTML <span>62%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>CSS <span>48%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>JavaScript <span>25%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                    </div>
                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>

            <div class="skills-column">
                <h3 class="title">Back-end<span class="animate scroll" style="--i:5;"></span></h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Python <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Django <span>72%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>PostgreSQL <span>55%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>

                        <div class="progress">
                            <h3>Git <span>39%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>
                    <span class="animate scroll" style="--i:6;"></span>
                </div>
            </div>
        </div>
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Languages<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Russian <span class="level">C2</span></h3>
                        </div>
                        <div class="progress">
                            <h3>Uzbek <span class="level">C1</span></h3>
                        </div>
                        <div class="progress">
                            <h3>English <span class="level">A2</span></h3>
                        </div>

                    </div>
                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>
            <div class="skills-column">
                <div class="skills-box">
                </div>
            </div>
        </div>
        <br><br><br><br><br><br>
    </section>

    <section class="projects" id="projects">
        <h2 class="heading">My <span>Projects</span><span class="animate scroll" style="--i:1;"></span></h2>
        <div class="projects-row">
                <div class="projects-box">

                    <div class="projects-content">
                        <div class="content">
                            <div class="project-title">SaidShop<span class="animate scroll" style="--i:3;"></span></div>
                            <img class="project-image" src="static/img/SaidShop.png">
                            <p>"SaidShop" is an online store where you can buy and order goods.
                                You can also sort products by category here.
                                All products added to the cart are displayed
                                and can be ordered if the user is registered </p>
                            <div class="btn-box">
                                <a href="https://said-shop.onrender.com" class="btn">Go to Website</a>
                                <a href="https://github.com/EndSaidN/SaidShop" class="btn">GitHub</a>
                                <span class="animate scroll" style="--i:7;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="projects-content">
                        <div class="content">
                            <div class="project-title">Dwitter<span class="animate scroll" style="--i:3;"></span></div>
                            <img class="project-image" src="static/img/Dwitter.png">
                            <p>This project is a simplified version of the social network Twitter.
                                The project was developed in a week.
                                Part 'Edit' with the help API wasn't transferred to frontend</p>
                            <div class="btn-box">
                                <a href="https://said.onrender.com" class="btn">Go to Website</a>
                                <a href="https://github.com/EndSaidN/Social_Network" class="btn">GitHub</a>
                                <span class="animate scroll" style="--i:7;"></span>
                            </div>
                        </div>
                    </div>

                    <div class="projects-content">
                        <div class="content">
                            <div class="project-title">ToDo List<span class="animate scroll" style="--i:3;"></span></div>
                            <img class="project-image" src="static/img/ToDo.png">
                            <p>These are online notes. You can create, edit, search, add notes
                                and have your own account.
                                You can also mark completed tasks</p>
                            <div class="btn-box">
                                <a href="https://said-todo.onrender.com" class="btn">Go to Website</a>
                                <a href="https://github.com/EndSaidN/ToDo_App" class="btn">GitHub</a>
                                <span class="animate scroll" style="--i:7;"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>UZB 2023 by Muzaffarov Saidakbar</p>
        </div>

        <div class="footer-iconTop">
            <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
        </div>
    </footer>

    <script src="static/js/script.js"></script>
</body>
</html>






    <!--<section class="contact" id="contact">
        <br><br><br><br><br><br>
        <h2 class="heading">Contact <span>Me !</span><span class="animate scroll" style="&#45;&#45;i:1;"></span></h2>

        <form name="submit-to-google-sheet">

            <div class="input-box">
                <div class="input-field">
                    <input type="text" name="Full_Name" placeholder="Full Name" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" name="Email_Address" placeholder="Email Address" required>
                    <span class="focus"></span>
                </div>
                <span class="animate scroll" style="&#45;&#45;i:3;"></span>
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="text" maxlength="25" name="Mobile_Number" placeholder="Mobile Number" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" name="Email_Subject" placeholder="Email Subject" required>
                    <span class="focus"></span>
                </div>
                <span class="animate scroll" style="&#45;&#45;i:5;"></span>
            </div>

            <div class="textarea-field">
                <textarea name="Your_Message" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <span class="focus"></span>
                <span class="animate scroll" style="&#45;&#45;i:7;"></span>
            </div>

            <div class="btn-box btns">
                <button type="submit" class="btn">Submit</button>
                <span class="animate scroll" style="&#45;&#45;i:9;"></span>
            </div>
        </form>
        <br><br><br><br><br><br>
    </section>-->
